
    {% macro bread(data) %}
        
    <section class="breadcrumb">

        <ul>
            {% for d in data %}
                {% if d.id is defined %}
                <li><a href="{{ path(d.route, { 'id' : d.id }) }}">{{ d.name }}</a></li>
                {%else%}
                <li><a href="{{ path(d.route) }}">{{ d.name }}</a></li>
                {%endif%}
            {% endfor %}
        </ul>

        <input name="search" type="text" id="search-input" placeholder="Rechercher"/>

    </section>
        
    {% endmacro %}